@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  height: 100vh;
  font-family: var(--font-inter);
}
:root,
:host {
  height: 100%;
  --color-primary: #2662d9;
  --bg-primary: #2662d9;
  --color-gray: #344256;
}

@layer components {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .text-primary-hover:hover {
    color: var(--color-primary);
  }
  .text-gray {
    color: var(--color-gray);
  }
}
