@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: var(--font-inter);
 background-color: #F7FAFC
}
.dark body {
 background-color: #020817
}
html,
:host {
  height: 100%;
  scroll-behavior: smooth;
  --color-primary: #2662d9;
  --bg-primary: #2662d9;
  --color-gray: #344256;
}

@layer components {
  .text-primary {
    color: var(--color-primary);
  }
  .bg-primary {
    background-color: var(--bg-primary);
  }
  .text-primary-hover:hover {
    color: var(--color-primary);
  }
  .text-gray {
    color: var(--color-gray);
  }
}


.back{
  animation: card1 5s ease infinite alternate;
  filter: blur(4px);
}

@keyframes card1{
    0%{
transform: rotate(0deg);
    }
    50%{
transform: rotate(7deg);
    }
    100%{
transform: rotate(0deg);
    }
}
